.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* .App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
} */

.App-link {
  color: #61dafb;
}

.head{
  color: white;
}

/* .Main-search{
  margin-top: 4%;
  margin-left: 70%
}
.Menu{
  margin-right: 82%
}
.button-logout{
  margin-top: 4%;
  margin-left: 50%;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
